<div class="container thankyou">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="alert alert-success">
        <span class="glyphicon glyphicon-ok"></span> <strong>Success</strong>
        <hr class="message-inner-separator">
        <p>Thank you for using FavRemove. Your favorites will be deleted shortly. You will receive a direct message when completed.</p>
      </div>
    </div>
  </div>
</div>